* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-size: cover;
    background-image: url(https://img.freepik.com/free-vector/blue-curve-background_53876-113112.jpg);
    display: flex;
    flex-direction: column;
}

/* INICIO DO HEADER */
header {
    background-color: rgb(80, 94, 198);
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
}


#logo {
    width: 110px;
    height: 70px;
}


.bandeira {
    padding-right: 8px;
    align-items: end;
}

#bandeira {
    width: 85px;
}

.botoes {
    display: flex;
    align-items: center;
    gap: 30px;
}

.botoes a {
    text-align: center;
    color: black;
    background-color: rgb(207, 209, 199);
    border-radius: 20px;
    padding: 6px 9px;
    border: 2px solid black;
}

.botoes a:hover {
    background-color: rgb(112, 180, 180);
}

/* FINAL DO HEADER */

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main div {
    display: flex;
    flex-direction: column;
    text-align: center;

}

main .conteudo div table {
    background-color: rgb(170, 170, 170);
    text-align: left;

}

.conteudo {
    text-align: center;
    justify-content: center;
    margin: 2rem 0rem;
    padding: 0px 0px;
}

.conteudo div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    margin: 0rem 24rem;
    height: 25rem;
    background-image: url(./background.jpg);
    border-radius: 30px;
}



.vacuo {
    padding: 2r;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgb(80, 94, 198);
    height: 2.1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer a:hover {
    background-color: aqua;
    border: 1px solid black;
    border-radius: 12px;
    padding: 4px;
}