* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-size: cover;
    background-image: url(https://img.freepik.com/free-vector/blue-curve-background_53876-113112.jpg);
    display: flex;
    flex-direction: column;
}


/* INICIO DO HEADER */
header {
    background-color: rgb(80, 94, 198);
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-between;

}


#logo {
    width: 110px;
    height: 70px;
}


.bandeira {
    padding-right: 8px;
    align-items: end;
}

#bandeira {
    width: 85px;
}

.botoes {
    display: flex;
    align-items: center;
    gap: 30px;
}

.botoes a {
    text-align: center;
    color: black;
    background-color: rgb(207, 209, 199);
    border-radius: 20px;
    padding: 6px 9px;
    border: 2px solid black;
}

.botoes a:hover {
    background-color: rgb(112, 180, 180);
}

/* FINAL DO HEADER */

main {
    display: flex;
    justify-content: center;
    background-color: #8a2be2;
    min-width: 100vh;
}

.tudo {
    margin-top: 2rem;
    flex-direction: column;
    gap: 4rem;
}

.conteudo {
    text-align: center;
    background-color: aqua;
}

.conteudo div {
    display: flex;
    justify-content: space-around;
    height: 20rem;
    width: 50rem;

    img {
        width: 300px;
        padding: 0px 0px 10px 50px;
    }
}

.opcoes {
    border: 2px solid black;
    background-image: url(./background.jpg);
    border-radius: 30px;
}

.cabecalho {
    display: flex;
    flex-direction: column;
}

table {
    padding-right: 10px;
    background-color: transparent;
    border-radius: 30px;

    tr th {
        padding-right: 40px;
        text-align: left;
    }

    td {
        text-align: right;
        text-align: left;
    }
}

.cep {
    text-align: center;
}


.paginas a {
    padding: 7px 50px;
    border: 1px solid black;
    border-radius: 12px;
    background-image: url(./background.jpg);

}

footer{
    background-color: rgb(80, 94, 198);
    height: 2.1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    a{
        color: black;
    }
}

footer a:hover{
    background-color: aqua;
    border: 1px solid black;
    border-radius: 12px;
    padding: 4px;
}